
<div class="container">
  <ng-container *ngIf="!loader; else membershipEnd">
  <div class="row">
    <div class="col-md-12">
  <h3 class="font-weight-bold">Movie List</h3>
  <input type="text" [(ngModel)]="searchText"  class="search-bar" placeholder="Search movie here..." (keyup)="searchData(searchText)">
</div>
</div>
  <div class="row custom-row"  *ngFor="let movies of movielist;let i =index" [ngClass]="{ 'watched':movies.checked  }" >

    <div class="col-xs-3">
      <img src="{{movies.Poster}}" class="poster-image"  />
    </div>
    <div class="col-xs-6">
      <h4 class="card-title"><b>Title: {{movies?.Title}}</b></h4>
      <h4 class="card-title"><b>Year: {{movies?.Year}}</b></h4>
      <h4 class="card-title"><b>Type: {{movies?.Type}}</b></h4>

    </div>
    <div class="col-xs-3 text-right">
      <input type="checkbox" (change)="onChangeCheck(i)" class="custom-control-input" id="check1" value="movies.checked">
      <label class="custom-control-label" for="check1">check of watched</label>
    </div>
  </div>
  </ng-container>
  <ng-template #membershipEnd>
    <div class="loader"></div>

    </ng-template >
</div>

